.navbar {
    color: white;
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    width: 50%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 30px 20px;
}

.nav-links a {
    color: white;
    padding: 16px 10px;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #FF00D6;
    font-weight: bold;
    border-radius: 15px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;

}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust this based on your design */
        left: 0;
        z-index: 99;
        background-color: #400145;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }

    /* Rotate the bars for a visually appealing 'X' when menu is open */
    .menu-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-icon.active .bar:nth-child(2) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

